.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
@media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
}

.card-primary{
    background-color: #4D9EA1 !important;
}

.card-primera {
    background-color: cadetblue !important;
}